<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @story.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <style>
    p {
      text-indent: 2em;
    }
    </style>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </head>
  <body class="bg-near-white dark-gray baskerville">
    <header class="tc">
      <h1 class="avenir mb0"><%= @story.title %></h1>
      <h2 class="f4 avenir normal mt0 fw3">About <%= @story.word_count_rounded %> words</h2>
    </header>
    <main>
      <% cumulative_word_count = 0 %>
      <% @story.acts.each do |act| %>
        <section>
          <% act.scenes.each do |scene| %>
            <% cumulative_word_count += scene.word_count %>
            <div class="tc f3 mt3 mb4">
              <% if scene.break? %>
                ยง
              <% end %>
            </div>
            <section class="cf">
              <a name="act<%= act.number %>-scene<%= scene.number %>"></a>
              <aside class="fl w-25 ph3">
                <% if show_annotations %>
                  <header class="gray avenir ma0">
                    <h1 class="ma0 normal dib pv1 f4 ttu tracked near-black">
                      <a href="#act<%= act.number %>-scene<%= scene.number %>">#</a>
                      Act <%= act.number %>
                    </h1>
                    <h2 class="ma0 normal dib pv1 f6 ttu tracked strong near-black">Scene <%= scene.number %></h2>
                    <h3 class="ma0 normal pv2 f4 blue"><%= scene.purpose %></h3>
                    <h4 class="ma0 normal pv2 f5 ttu gray"><%= scene.word_count %> words (<%= cumulative_word_count %> of <%= @story.word_count %>)</h4>
                  </header>
                  <ul>
                    <% scene.q_and_a.each do |q_and_a| %>
                      <li><strong><%= q_and_a.question %>?</strong> <%= q_and_a.answer %></li>
                    <% end %>
                  </ul>
                <% else %>
                  &nbsp;
                <% end %>
              </aside>
              <div class="fl w-50 ph3 f4">
                <% scene.paragraphs.each do |paragraph| %>
                  <p class="lh-copy measure mt0 mb0"><%= paragraph.to_html %></p>
                <% end %>
              </div>
              <div class="fl w-25 ph3 f6 blue avenir">
                <% if show_annotations %>
                  <ul>
                    <% scene.notes.each do |note| %>
                      <li><%= note %></li>
                    <% end %>
                  </ul>
                <% else %>
                  &nbsp;
                <% end %>
              </div>
            </section>
            <div class="tc f3 mt3 mb4">
              <% if (scene.number == act.scenes.size) && (act.number == @story.acts.size) %>
                END
              <% end %>
            </div>
          <% end %>
        </section>
      <% end %>
    </main>
  </body>
</html>
